apptools==4.4.0
configobj==5.0.6
cycler==0.10.0
envisage==4.7.0
kiwisolver==1.0.1
matplotlib==2.2.2
mayavi==4.6.2
numexpr==2.6.8
numpy==1.14.3
pandas==0.23.3
pyface==6.0.0
pyfemm==0.1.0
Pygments==2.2.0
pyparsing==2.2.0
pypiwin32==223
PyQt5==5.11.2
PyQt5-sip==4.19.12
python-dateutil==2.7.3
pytz==2018.4
pywin32==223
scipy==1.1.0
six==1.11.0
tables==3.4.4
tqdm==4.31.1
traits==4.6.0
traitsui==6.0.0
vtk==8.1.1
